<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<servlet>
		<servlet-name>AddNoteServlet</servlet-name>
		<display-name>AddNoteServlet</display-name>
		<description></description>
		<servlet-class>servlets.AddNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logoutcontrolservlet</servlet-name>
		<display-name>Logoutcontrolservlet</display-name>
		<description></description>
		<servlet-class>servlets.Logoutcontrolservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>servlets.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditNoteServlet</servlet-name>
		<display-name>EditNoteServlet</display-name>
		<description></description>
		<servlet-class>servlets.EditNoteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Contact</servlet-name>
		<display-name>Contact</display-name>
		<description></description>
		<servlet-class>servlets.Contact</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ForgotPassword</servlet-name>
		<display-name>ForgotPassword</display-name>
		<description></description>
		<servlet-class>servlets.ForgotPassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValidateOTP</servlet-name>
		<display-name>ValidateOTP</display-name>
		<description></description>
		<servlet-class>servlets.ValidateOTP</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewPassword</servlet-name>
		<display-name>NewPassword</display-name>
		<description></description>
		<servlet-class>servlets.NewPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNoteServlet</servlet-name>
		<url-pattern>/AddNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logoutcontrolservlet</servlet-name>
		<url-pattern>/Logoutcontrolservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNoteServlet</servlet-name>
		<url-pattern>/EditNoteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Contact</servlet-name>
		<url-pattern>/Contact</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassword</servlet-name>
		<url-pattern>/ForgotPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateOTP</servlet-name>
		<url-pattern>/ValidateOTP</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewPassword</servlet-name>
		<url-pattern>/NewPassword</url-pattern>
	</servlet-mapping>

</web-app>
